*.swp
node_modules
sourcefiles/bootstrap/*
!sourcefiles/bootstrap/dist/css/
!sourcefiles/bootstrap/less/
_site
.sass-cache
.jekyll-metadata
sourcefiles/.sass-cache
.jekyll-metadata
sourcefiles/_ignore
_public
_public (copy)
